// Variables
// --------------------------------------------------
/* -- Font Colors -- */
$base-font-size:15px;
$base-font-family:"Segoe UI","Segoe WP","Segoe Regular", sans-serif;
$primary-font-color:#666;
$secondary-font-color:#fff;
$light-font-color:#ffd11a;


/* -- color --*/
$primary-color:#3bafda;
$secondary-color:#94d3eb;




